:root {
    --btn-name: #1B0069;;
    --btn-background: yellow;
    --company-second-name-color: yellow;
}

.button_style {
    color: var(--btn-name);
    background-color: var(--btn-background);
    border: 0;
    margin: 0 20px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: large;
    cursor: pointer;
    border-radius: 8px;
    
}

.second_name {
    color: var(--company-second-name-color);
}